
<div><p-menubar>
    
    <ng-template pTemplate="start">
        <div style="display: flex; justify-content: center; align-items: center;">
            <span><img src="../../assets/can-air-rounded.png" height="55" class="mr-2" style="margin-left: 10px;"></span>
            <span class="text-3xl" style="margin: 0px 200px 0px 20px;">CAN Airlines</span>
        </div>
        
    </ng-template>
    <ng-template pTemplate="end">
        <p-menubar [model]="items"></p-menubar>
    </ng-template>

   
    
</p-menubar></div>
<div *ngIf="clickedLogin()">
    <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '25vw'}"
        [draggable]="false" [resizable]="false" [closable]="isCloseable">
        <ng-template pTemplate="header">
            <div class="text-xl font-bold" style="margin: 0 0 0 8px">
                Login
            </div>
        </ng-template>
        <ng-template pTemplate="body">
            <div style="margin: 0 0 15px 5px; color: #D0342C;" *ngIf="incorrectCreds" class="font-semibold">Incorrect username or password. Try again.</div>
            <div style="margin: 5px;">
                <input id="username" type="text" pInputText placeholder="Username" [(ngModel)]="loginCreds.username"> 
                <!-- <label for="float-input">Username</label> -->
            </div>
            <div style="margin: 5px;">
                <input id="password" type="password" pInputText placeholder="Password" [(ngModel)]="loginCreds.password" (keydown.enter)="login()"> 
                <!-- <label for="float-input">Password</label> -->
            </div>

        </ng-template>
        <ng-template pTemplate="footer">
            <span *ngIf="isProgressSpinner">
                <p-progressSpinner [style]="{width: '50px', height: '50px', margin: '0px 20px 0px 0px'}" styleClass="custom-spinner" 
                strokeWidth="6" fill="var(--surface-ground)" animationDuration="1.5s"></p-progressSpinner>
            </span>
            <p-button icon="pi pi-user-plus" label="Sign Up" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check"  (click)="login()"  label="Login" styleClass="p-button-text"></p-button>
        
        </ng-template>
    </p-dialog>
</div>

<div *ngIf="isUserLoggedOut">
    <p-dialog header="Logging Out" [(visible)]="displayModal2" [modal]="true" [style]="{width: '25vw'}"
        [draggable]="false" [resizable]="false" [closable]="isCloseable">
        
        <ng-template pTemplate="body">
           
            <div class="text-xl">Thank you for using Can Air.</div>

        </ng-template>
        <ng-template pTemplate="footer">

            <span *ngIf="isUserLoggedOut">
                <p-progressSpinner [style]="{width: '50px', height: '50px', margin: '0px 20px 0px 0px'}" styleClass="custom-spinner" 
                strokeWidth="6" fill="var(--surface-ground)" animationDuration="1.5s"></p-progressSpinner>
            </span>
        
        </ng-template>
    </p-dialog>
</div>

