<div id="home-page-image">
    <div id="top-text">
        <div class="text-3xl card">
            Going somewhere? Now you CAN!
        </div>
        <div class="text-3xl card" style="margin-top: 10px;" >
            
        </div>
    </div>

    <div id="view-flight-text">
        <div class="text-8xl">
            View Flights
        </div>
    </div>
    <div id="search-flights-card">
        
        <p-card class="flex-auto justify-content-center" [style]="{width: '45vw'}">
           
            <div style="margin: 0 0 0.5vw 0;">
                <span>
                    <span  class="font-bold" style="margin: 0 0 0 0.3vw;">Departing From</span>
                    <span class="font-bold" style="margin: 0 0 0 6.2vw;">Arriving At</span>
                    <span class="font-bold" style="margin: 0 0 0 8vw;">Departure Date</span>
                </span>
            </div>
            <span>
                <p-dropdown [options]="airports" placeholder="Departing" [(ngModel)]="flightFormData.departing" [style]="{width: '12vw'}"></p-dropdown></span>
            <span style="margin-left: 5px;"><p-dropdown [options]="airports" placeholder="Arriving" [(ngModel)]="flightFormData.arriving" [style]="{width: '12vw'}"></p-dropdown></span>
            <span style="margin-left: 5px;"><p-calendar [(ngModel)]="flightFormData.departureDate" placeholder="Departure Date" [style]="{width: '12vw'}"></p-calendar></span>
            
            
            <div class="field-checkbox flex-auto align" style="margin: 35px 25px 25px 5px;">
                
                <span style="margin-right: 10px;" >Round Trip?</span>
                <span>
                    <p-checkbox  [(ngModel)]="flightFormData.isRoundTrip" [binary]="true" inputId="binary"></p-checkbox>
                </span>
                <!-- <label for="binary">{{isRoundTrip}}</label> -->
                <span *ngIf="flightFormData.isRoundTrip" class="font-bold" style="margin-left: 20px;">
                    <span style="margin: 0 10px 0 0;">Return Date </span>
                    <p-calendar [required]="true" [(ngModel)]="flightFormData.returnDate"  placeholder="Return Date" [style]="{width: '12vw'}"></p-calendar>
    
                </span>
            </div>
            <p-button [disabled]="requiredFieldsFilled()" label="Search" (click)="searchFlights()"></p-button>
            <!-- <p-progressSpinner *ngIf="isProgressSpinnerActivated"></p-progressSpinner> -->
            <div *ngIf="isProgressSpinnerActivated" style="display: flex; align-items: center;">
                <p-dialog [(visible)]="isProgressSpinnerActivated" [modal]="true" [style]="{width: '15vw'}"
                [draggable]="false" [resizable]="false" [closable]="false">
                    
                    <ng-template pTemplate="body" >
                        <div class="text-xl" style="display:flex; justify-content: center; align-items: center; margin-bottom: 35px;">
                            Searching For Flights
                        </div>
                        <div style="display:flex; justify-content: center; align-items: center">
                            <p-progressSpinner></p-progressSpinner>
                        </div>
                    </ng-template>
                </p-dialog>
            </div>
            
        </p-card>

    </div>
</div>

