<div id="my-flights-image">
  <div id="my-flights-text" class="flex justify-content-center">
    <div class="text-8xl">
      My Flights
    </div>
  </div>

  <div style="margin: 20px">
    <p-card >
        <p-table #itemTable [columns]="cols" [value]="myBigReservationsArray" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]"
        [filterDelay]="0" [globalFilterFields]="['flightNumber', 'departing', 'arriving', 'zoneId']"
        [totalRecords]="totalRecords" [pageLinks]="3"  >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="flightId">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Flight Number<p-sortIcon field="flightId"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="ticketHolder">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Ticket Holder<p-sortIcon field="ticketHolder"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureLocation">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Departing<p-sortIcon field="departureLocation"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureArrivingLocation">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Arriving<p-sortIcon field="departureArrivingLocation"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureDate" >
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Departure Date<p-sortIcon field="departureDate"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureDepartureTime">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Departure Time<p-sortIcon field="departureDepartureTime"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureArrivalTime">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Arrival Time<p-sortIcon field="departureArrivalTime"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="roundTrip">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Round Trip<p-sortIcon field="roundTrip"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="returnDate">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Return Date<p-sortIcon field="returnDate"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="returnDepartureTime">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Return Departure Time<p-sortIcon field="returnDepartureTime"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="returnArrivalTime">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Return Arrival Time<p-sortIcon field="returnArrivalTime"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    
                </tr>
            </ng-template>
            <!-- body of table-->
            <ng-template pTemplate="body" let-flight>
                <tr>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            <p-splitButton label="CAN {{flight.flightId}}" 
                            styleClass="p-button-raised" [model]="this.flightOptions" (click)="onSelect(flight)"></p-splitButton>
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            <div>
                                
                                <div class="flex justify-content-end">
                                    <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '300px'}" [dismissable]="true" [showCloseIcon]="true">
                                      
                                      <ng-template pTemplate>
                                          <div>
                                            <div style="margin-bottom: 12px;" class="font-bold">Ticket Holder Information</div>
                                      <div>
                                        Name: {{flight.firstName + ' ' + flight.lastName}}
                                      </div>
                                      <div>
                                        Phone: {{flight.phone}}
                                      </div>
                                      <div>
                                        Email: {{flight.email}}
                                      </div>
                                      <div >
                                        Date of Birth: {{flight.dob | date: 'mediumDate'}}
                                        
                                      </div>
                                      
                                  </div>
                                      </ng-template>
                                  </p-overlayPanel>
                                    
                                    <p-button styleClass="p-button-raised" label="{{flight.firstName}} {{flight.lastName}}" (click)="op.toggle($event)"></p-button>
                                  </div>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.departureLocation}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.arrivalLocation}} 
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.departureDate | date:'mediumDate'}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.departureDepartureTime}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.departureArrivalTime}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{(flight.roundTrip)? 'Yes':'No'}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="flight.roundTrip" class="flex justify-content-center align-items-center">
                            {{(flight.returnDate | date:'mediumDate')}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.returnDepartureTime}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.returnArrivalTime}}
                        </div>
                    </td>
                    

                </tr>
              </ng-template>   
        </p-table>
      </p-card>
  </div>
  <div *ngIf="clickedUpdate2">
    <p-dialog header="Update Information" [(visible)]="displayModal2" [modal]="true" [style]="{width: '40vw'}"
    [draggable]="false" [resizable]="false" [closable]="isCloseable"  [maximizable]="true">
    
        <ng-template pTemplate="header">
            <div class="text-xl"></div>
        </ng-template> 
        <ng-template pTemplate="body">
            <p-card class="card-info" header="Passenger Information">
                <div>
                    <div style="margin: 10px;" class="grid">
                        <span class="col-2 align-item-center">
                            Name: 
                        </span>
                      <span style="margin: 10px;"  class="col-4 align">
                        <input type="text" pInputText placeholder="First Name" [(ngModel)]="mySmallReservation.reservationFirstName">
                      </span>
                      <span style="margin: 10px;"  class="col-4">
                        <input type="text" pInputText placeholder="Last Name" [(ngModel)]="mySmallReservation.reservationLastName">
                      </span>
                    </div>
                    <div style="margin: 10px;" class="grid">
                        <span class="col-2 align-item-center" >Contact Info: </span>
                      <span style="margin: 10px;" class="col-4">
                        <input type="text" pInputText placeholder="Phone Number" [(ngModel)]="mySmallReservation.reservationPhone">
                      </span>
                      <span style="margin: 10px;" class="col-4">
                        <input type="email" pInputText placeholder="Email" [(ngModel)]="mySmallReservation.reservationEmail">
                      </span>
                    </div>
                    <div style="margin: 10px;" class="grid">
                        <span class="col-2 align-item-center">Date of Birth: </span>
                      <span style="margin: 10px;" class="col-4">
                        <p-calendar [required]="true" placeholder="Date of Birth" [(ngModel)]="mySmallReservation.reservationDateOfBirth"></p-calendar>
                      </span>
                      <span style="margin: 10px;"></span>
                    </div>
                </div>
                
                <ng-template pTemplate="footer">
                    <div class="flex justify-content-end">               
                        <div style="padding-right: 30px;">
                          <p-button label="Cancel" (click)="cancelUpdate()"></p-button>
                        </div>
                        <p-button label="Update" (click)="confirmedUpdate()"></p-button>
                      </div>
                </ng-template>
              </p-card>

        </ng-template>
    
    </p-dialog>
  </div>
</div>
