<div id="my-flights-image">
  <div id="my-flights-text" class="flex justify-content-center">
    <div class="text-8xl">
      My Flights
    </div>
  </div>

  <div style="margin: 20px">
    <p-card >
        <p-table #itemTable [columns]="cols" [value]="myFlights" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]"
        [filterDelay]="0" [globalFilterFields]="['flightNumber', 'departing', 'arriving', 'zoneId']"
        [totalRecords]="totalRecords" [pageLinks]="3"  >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="flightId">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Flight Number<p-sortIcon field="flightId"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureLocation">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Departing<p-sortIcon field="departureLocation"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureArrivingLocation">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Arriving<p-sortIcon field="departureArrivingLocation"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureDate">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Departure Date<p-sortIcon field="departureDate"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="roundTrip">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Round Trip<p-sortIcon field="roundTrip"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="returnDate">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Return Date<p-sortIcon field="returnDate"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureDepartureTime">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Departure Time<p-sortIcon field="departureTime"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="departureArrivalTime">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Arrival Time<p-sortIcon field="arrivalTime"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                    <th pSortableColumn="flightPrice">
                        <div>
                            <div class="flex justify-content-center align-items-center">
                                Price<p-sortIcon field="price"></p-sortIcon>
                    
                              </div>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <!-- body of table-->
            <ng-template pTemplate="body" let-flight>
                <tr>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            <p-splitButton label="CAN {{flight.flightId}}" [model]="this.flightOptions" (click)="onSelect(flight)"></p-splitButton>
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.departureLocation}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.arrivalLocation}} 
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.departureDate | date:'mediumDate'}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.departureDepartureTime}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.departureArrivalTime}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{(flight.roundTrip)? 'Yes':'No'}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="flight.roundTrip" class="flex justify-content-center align-items-center">
                            {{(flight.returnDate | date:'mediumDate')}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.returnDepartureTime}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.returnArrivalTime}}
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center align-items-center">
                            {{flight.flightPrice}}
                        </div>
                    </td>

                </tr>
              </ng-template>   
        </p-table>
      </p-card>
  </div>
</div>
