#account-settings-image {
    background-color: #8a9ffa;
/*     
    background-size:cover;
    background-image: url('../../assets/airport-3.jpg'); */
    width: auto;
    height: auto;
    background-position: center;
}

#tab {
    border-radius: 20px;
}