#account-settings-image {
    background-color: #8a9ffa;
/*     
    background-size:cover;
    background-image: url('../../assets/airport-3.jpg'); */
    width: 100vw;
    height: 100vh;
    background-position: center;
}

#tab {
    border-radius: 20px;
}

#onOffButtons {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

#card-container {
    width: 600px;
    margin: 45px 0 0 100px;
}