<div id="reserve-flight-image">
  <div id="my-flights-text">
    <div class="text-8xl">
      Reserve Flight
    </div>
  </div>

  <div id="container" class="flex justify-content-center" style="margin:20px">

    <div class="flex justify-content-start align-item-center" >
      <div id="container-for-flight-details" >
        <p-card class="card-info p-" id="saved-information" header="Flight Details" [style]="{width: '300px', height: '400px'}" styleClass="p-card-shadow">
          <div >
              <div style="margin: 5px;"><span class="font-bold">Flight Number:</span> <span style="margin-left: 10px;">{{flightFormDataFromHome.flightId}}</span></div>
              <div style="margin: 5px;"><span class="font-bold">Departing:</span>  <span style="margin-left: 10px;">{{flightFormDataFromHome.departureLocation}} at {{flightFormDataFromHome.departureDepartureTime}}</span></div>
              <div style="margin: 5px;"><span class="font-bold">Arriving:</span>  <span style="margin-left: 10px;">{{flightFormDataFromHome.arrivalLocation}} at {{flightFormDataFromHome.departureArrivalTime}}</span></div>
              <div style="margin: 5px;"><span class="font-bold">Departure Date:</span>  <span style="margin-left: 10px;">{{flightFormDataFromHome.departureDate | date:'mediumDate'}}</span></div>
              <div style="margin: 5px;"><span class="font-bold">Round Trip:</span>  <span style="margin-left: 10px;">{{flightFormDataFromHome.roundTrip ? 'Yes' : 'No'}}</span></div>
              <div style="margin: 5px;" *ngIf="flightFormDataFromHome.roundTrip"><span class="font-bold">Return Date:</span>  <span style="margin-left: 10px;">{{flightFormDataFromHome.returnDate | date:'mediumDate'}}</span></div>
              <div style="margin: 5px;" *ngIf="flightFormDataFromHome.roundTrip"><span class="font-bold">Return Departing:</span> {{flightFormDataFromHome.arrivalLocation}} at <span>{{flightFormDataFromHome.returnDepartureTime}}</span></div>
              <div style="margin: 5px;" *ngIf="flightFormDataFromHome.roundTrip"><span class="font-bold">Return Arriving:</span>  {{flightFormDataFromHome.departureLocation}} at <span>{{flightFormDataFromHome.returnArrivalTime}}</span></div>
              <div style="margin: 5px;"><span class="font-bold">Price:</span>  <span style="margin-left: 10px;">{{flightFormDataFromHome.flightPrice}</span></div>
          </div>
          
        </p-card>
      </div>

      <div style="margin: 0 0 0 10px;">
        <p-card class="card-info" header="Passenger Information">
          <div>
              <div style="margin: 10px;">
                <span style="margin: 10px;">
                  <input type="text" pInputText placeholder="First Name">
                </span>
                <span style="margin: 10px;">
                  <input type="text" pInputText placeholder="Last Name">
                </span>
              </div>
              <div style="margin: 10px;">
                <span style="margin: 10px;">
                  <input type="text" pInputText placeholder="Phone Number">
                </span>
                <span style="margin: 10px;">
                  <input type="text" pInputText placeholder="Email">
                </span>
              </div>
              <div style="margin: 10px;">
                <span style="margin: 10px;">
                  <p-calendar placeholder="Date of Birth"></p-calendar>
                </span>
                <span style="margin: 10px;"></span>
              </div>
          </div>
          <div class="flex justify-content-end align-item-end" style="padding-top: 50px; padding-right: 10px;">
            <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '300px'}" [dismissable]="true" [showCloseIcon]="true">
              
              <ng-template pTemplate>
                  <div>
                    <div style="margin-bottom: 12px;" class="font-bold">Credit Card Information</div>
              <div>
                <div style="margin: 5px;">
                  <p-inputNumber inputId="integeronly"  placeholder="Credit Card Number" [useGrouping]="false"></p-inputNumber>
                </div>
                <div style="margin: 5px;">
                  <input type="text" pInputText placeholder="Name">
                </div>
              </div>
              <div >
                <div style="margin: 5px;">
                  <input type="text" pInputText placeholder="Expiration Date">
                </div>
                <div style="margin: 5px;">
                  <input type="text" pInputText placeholder="Street Address">
                </div>
                <div style="margin: 5px;">
                  <p-button label="Confirm" (click)="reserveFlight()" style="margin-top: 5px"></p-button>
                </div>
              </div>
              
          </div>
              </ng-template>
          </p-overlayPanel>
            <p-button label="Reserve" (click)="op.toggle($event)"></p-button>
          </div>
        </p-card>
      </div>
      

    </div>


  </div>

</div>
