<div id="reserve-flight-image">
  <div id="my-flights-text">
    <div class="text-8xl">
      Reserve Flight
    </div>
  </div>

  <div id="container" class="flex justify-content-center" style="margin:20px">

    <div class="flex justify-content-start align-item-center">
      <p-card class="card-info" id="saved-information" header="Reserve Flight">
        <div>
            <div>Flight Number: {{flightFormDataFromHome.flightNumber}}</div>
            <div>Departing: {{flightFormDataFromHome.departing}}</div>
            <div>Arriving: {{flightFormDataFromHome.arriving}}</div>
            <div>Departure Date: {{flightFormDataFromHome.departureDate | date:'mediumDate'}}</div>
            <div>Round Trip: {{flightFormDataFromHome.isRoundTrip ? 'Yes' : 'No'}}</div>
            <div *ngIf="flightFormDataFromHome.isRoundTrip">Return Date: {{flightFormDataFromHome.returnDate | date:'mediumDate'}}</div>
            <div>Departure Time: {{flightFormDataFromHome.departureTime}}</div>
            <div>Arrival Time: {{flightFormDataFromHome.arrivalTime}}</div>
            <div>Price: {{flightFormDataFromHome.price}}</div>
        </div>
      </p-card>

      <p-card class="card-info">
        <div>
            <div style="margin: 10px;">
              <span style="margin: 10px;">
                <input type="text" pInputText placeholder="First Name">
              </span>
              <span style="margin: 10px;">
                <input type="text" pInputText placeholder="Last Name">
              </span>
            </div>
            <div style="margin: 10px;">
              <span style="margin: 10px;">
                <input type="text" pInputText placeholder="Phone Number">
              </span>
              <span style="margin: 10px;">
                <input type="text" pInputText placeholder="Email">
              </span>
            </div>
            <div style="margin: 10px;">
              <span style="margin: 10px;">
                <p-calendar placeholder="Date of Birth"></p-calendar>
              </span>
              <span style="margin: 10px;"></span>
            </div>
        </div>
      </p-card>

    </div>


  </div>

</div>
